:root{
  --breweryHopperBrown:#5E1717;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url("keg-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  background-color: rgb(94, 23, 23);
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-content: stretch;  
}

main {
    flex: 1 0 auto;
    padding: 8px;
}

h1 {
  font-family: 'Berkshire Swash', cursive;
  font-size: 150px;
  display: inline;  
}

h4 {
  padding: 5px;
  /* font-family: 'Berkshire Swash', cursive; */
  color: var(--breweryHopperBrown)
}

.top {
    margin-bottom: 50px;
    height: auto;
    background-color: rgb(94, 23, 23);
    padding: 40px;
  }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height:100%
}

.nav-wrapper {
    padding: 10px;
}

#breweryImg {
    display: inline;
    border: 3px outset rgb(214, 212, 212);
    box-shadow: 20px 20px 100px 5px rgb(59, 42, 42);
  }



/* .nav li {
    display: inline;
    margin: 15px;
    padding: 15px;
    font-size: 15px;
    width: auto;
} */


  h1 {
    font-family: 'Berkshire Swash', cursive;
    font-size: 150px;
    display: inline;
    text-shadow: 1px -1px 5px rgb(56, 55, 55);
    text-align: center;
    
  }

.searchButton {

    /* background-color: rgb(8, 130, 151); */
    background-color: var(--breweryHopperBrown);
    color: white;
    margin-left: 3px;
}

 .collection-item {

  background-color:rgb(59, 42, 42) ;
  font-family: 'Berkshire Swash', cursive;
  color: var(--breweryHopperBrown)
} 

.collection-item:hover {
    /* background-color: rgb(8, 130, 151); */
    background-color: var(--breweryHopperBrown);
    color: white;
}

#breweryInfo {
    text-align: center;
    padding-top: 10px;
    font-family: 'Berkshire Swash', cursive;
    color: var(--breweryHopperBrown)
}


.card-image {
    width: 60%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

/* #cardHeader h3 {
    padding-top: 10px;
    text-align: center;
} */

.mainCard {
    font-size: 18px;
    background-color:  rgb(94, 23, 23);
    color: white;
    line-height: 25px;
}

.mainCard a {
    color: white;
    font-size: 18px;
    

  }

#limerickContainerEl{
  display: flex;
  justify-content: center;
  align-content: center;
  /* width:100%; */
}

#limerickEl{
  text-align: center;
  padding-top: 15%;
  padding-bottom: 20%;
  font-size: 44px;
  font-family: 'Berkshire Swash', cursive;
  color: var(--breweryHopperBrown);
}

  @media (max-width: 400px) {
    h1 {
        font-size: 24px;
        text-align: center;
    }
  }

  @media (max-width: 600px) {
    h1 {
        font-size: 50px;
        text-align: center;
    }
  }

  @media (max-width: 800px) {
    h1 {
        font-size: 80px;
        text-align: center;
    }
  }



  #mapContainer {
    margin-top: 35px;
    margin-right: 0px;
    display:flex;
    
    
  }


  .buttonSize{

    width:20%
  }

  #cityName{
    width:80%

  }


